@import url('fonts/font-awesome.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #405060;
}

html,
#root {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  max-width: 280px;
  width: 100%;
}
